@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  overflow-x:hidden;
  background-color: rgb(26, 26, 26);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-link {
  color: #09d3ac;
}
